.box_profile{
    margin-top: 8px;
    border-radius: 0px;
    background: #343a40!important;
}
.box_profile a{
    color: white!important;
}
.box_profile a{
    color: white!important;
    background: #343a40!important;
}
